  
  
  <!-- Topbar Section -->
  <div class="navbar navbar-dark bg-dark">
    <form class="col-12">
        <div class="form-row">
            <input type="hidden" id="hiddenSBInput" name="hiddenSBInput">
            
            <!-- Button group for search and add modes -->
            <div class="col-12 col-md-2 mb-2 mb-md-0">
                <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                    <label class="btn btn-lg btn-secondary active" for="searchMode">
                        <input type="radio" name="options" id="searchMode" autocomplete="off" checked onclick="setMode('search')"> Search
                    </label>
                    <label class="btn btn-lg btn-secondary" for="addMode">
                        <input type="radio" name="options" id="addMode" autocomplete="off" onclick="setMode('add')"> Add
                    </label>
                </div>
            </div>
            
            <!-- Search box -->
            <div class="col-12 col-md-5 mb-2 mb-md-0">
                <input type="text" class="form-control form-control-lg" id="searchBox" placeholder="Enter serial #">
            </div>
            
            <!-- Part number dropdown -->
            <div class="col-12 col-md-3 mb-2 mb-md-0">
                <select class="form-control form-control-lg" id="partNumberDropdown" onchange="handlePartNumberChange()">
                    <option value="any">Any</option>
                    {% if parts %}
                    {% for part in parts %}
                    <option value="{{ part.part_number }}">{{ part.part_number }}</option>
                    {% endfor %}
                    {% endif %}
                    <option disabled>──────────</option>
                    <option id="id_add_part_number" value="add_part_number">Add new part number</option>
                </select>
            </div>
            
            <!-- Action button -->
            <div class="col-12 col-md-2">
                <button class="btn btn-primary form-control form-control-lg" id="actionButton">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid">
    <div id="notification" class="alert alert-primary alert-dismissible fade notification" role="alert">
        Text copied to clipboard!
    </div>
    <div id="alert-message" class="alert alert-danger" role="alert" style="display: none;">
        <!-- Messages area  -->
    </div>

    <div class="row">
        <div class="col-sm-6">
            <label for="recordsPerPage"> <h6><em>Show</em></h6></label>
            <select id="recordsPerPage" class="form-control form-control-sm d-inline-block w-auto">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="all">All</option>
            </select>
            <label for="recordsPerPage"><h6><em>records</em></h6></label>
        </div>

        <div class="col">
            <label for="show-raw-failures"><h6><em>Show raw failures</em></h6></label>
            <input type="checkbox" id="show-raw-failures" name="show-raw-failures">
        </div>


    </div>

    <table id='home_results_table' class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th data-column="date_added">Date added</th>
                <th data-column="serial_number">Serial Number</th>
                <th data-column="part_number">Part Number</th>
                <th data-column="datecode">Datecode</th>
                <th data-column="country">Country</th>
                <th data-column="raw_failure" class="raw-failure-column">Raw Failure</th>
                <th data-column="test_result">Result</th>
                <th data-column="lkt">Last Known Test</th>
            </tr>
        </thead>
        <tbody>
            <!-- {% if units %}
                {% for unit in units %}
                <tr record_id="{{ unit.id }}">
                    <td class="text-nowrap">{{ unit.date_added }}</td>
                    <td>{{ unit.serial_number }}</td>
                    <td class="text-nowrap">{{ unit.part_number }}</td>
                    <td>{{ unit.datecode }}</td>
                    <td>{{ unit.country }}</td>
                    <td class="raw-failure-column">
                        <span class="cell-content">{{ unit.raw_failure }}</span></td>
                    <td class="result-cell" rescell_sn="{{ unit.serial_number }}">{{ unit.test_result }} <img class="result-icon" src="static/alert-circle.svg" alt="Alert Icon" width="15" height="15"></td>
                    <td>{{ unit.lkt_datetime }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                <td colspan="4">No units found.</td>
                </tr>
            {% endif %} -->
        </tbody>
    </table>

</div>

<!-- Bootstrap Modal to add new part number-->
<div class="modal fade" id="addPartModal" tabindex="-1" role="dialog" aria-labelledby="addPartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addPartModalLabel">Add New Part Number</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" id="newPartNumber" placeholder="Enter new part number">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="addPartButton">Add</button>
        </div>
      </div>
    </div>
  </div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" id="hidden_record_id" name="hidden_record_id">
                    
                    <div class="form-group row">
                        <label for="comp_snpn" class="col-md-4 col-form-label text-dark"><mark>SN_PN</mark></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="comp_snpn" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="serialNumber" class="col-md-4 col-form-label text-dark"><mark>Serial Number</mark></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="serialNumber" pattern="[a-zA-Z0-9]+" required>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="partNumber" class="col-md-4 col-form-label  text-dark"><mark>Part Number</mark></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="partNumber" required>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="datecode" class="col-md-4 col-form-label  text-dark"><mark>Datecode</mark></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="datecode" list="datecodeSuggestions" required>
                            <datalist id="datecodeSuggestions">
                                <!-- Suggestions will be populated dynamically -->
                            </datalist>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="country" class="col-md-4 col-form-label  text-dark"><mark>Country</mark></label>
                        <div class="col-md-8">
                            <select class="form-control" id="country">
                                <option value="Malaysia">Malaysia</option>
                                <option value="China">China</option>
                                <option value="USA">USA</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="testResult" class="col-md-4 col-form-label  text-dark"><mark>Test Result</mark></label>
                        <div class="col-md-8">
                            <select class="form-control" id="testResult">
                                <option value="NFF" title="Pass (NFF)">NFF</option>
                                <option value="VF" title="Fail (VF)">VF</option>
                                <option value="VM/PPS" title="Scrap (VM/PPS)">VM/PPS</option>
                                <option value="TESTING" title="Test in progress">TESTING</option>
                                <option value="Unknown" title="Unknown">Unknown</option>
                                <option value="Ineligible" title="Ineligible">Ineligible</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="rawFailure" class="col-md-4 col-form-label  text-dark"><mark>Raw Failure</mark></label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="rawFailure" rows="4"></textarea>
                        </div>
                    </div>


                </form>
                
                
                <div id="editAlert" class="alert alert-dismissible fade show" role="alert" style="display: none;">
                    <span id="editAlertMessage"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-footer container"> 
                
                <button type="button" class="btn btn-danger text-nowrap" id="deleteRecordButton">Delete record</button> 
                <button type="button" class="btn btn-secondary text-nowrap" id="dismissButton" data-dismiss="modal" onclick="window.location.href='/'">Dismiss</button> 
                <button type="button" class="btn btn-success text-nowrap" id="saveChangesButton" disabled>Save changes</button> 
                
            </div>
        </div>
    </div>
</div>


<!-- Host File Modal -->
<div class="modal fade" id="hostFileModal" tabindex="-1" role="dialog" aria-labelledby="hostFileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="hostFileModalLabel">LOGS and Host_status Files</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover table-bordered" id="LOGSModalTable">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">File Name</th>
                        </tr>
                    </thead>
                    <tbody id="hostFileModalTableBody">
                       
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-nowrap" data-dismiss="modal">Dismiss</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="hostStatusModal" tabindex="-1" role="dialog" aria-labelledby="hostStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl custom-modal-height" role="document">
        <div class="modal-content custom-modal-background">
            <div class="modal-header">
                <h5 class="modal-title" id="hostStatusModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="hostStatusContent" readonly style="width: 100%; height: 100%; box-sizing: border-box;"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
            </div>
        </div>
    </div>
</div>

<script>
// Shared utility functions
function getRowClass(testResult) {
    switch (testResult.toLowerCase()) {
        case 'unknown':
            return 'table-light';
        case 'nff':
            return 'table-success';
        case 'vf':
            return 'table-danger';
        case 'vm/pps':
            return 'table-warning';
        case 'testing':
            return 'table-info';
        case 'inelegible':
            return 'table-dark';
        default:
            return 'table-secondary';
    }
}

// Function to show/hide the Raw Failure column
function toggleRawFailureColumn(show) {
    console.log('toggleRawFailureColumn executed with ' + show);
    if (show) {
        $(".raw-failure-column").show();
        $(".cell-content").show();
    } else {
        $(".raw-failure-column").hide();
        $(".cell-content").hide();
    }
}

// Cookie utility functions
function setCookie(name, value, days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}

function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}

// Table update utility functions
function updateTable(recordsPerPage) {
    setCookie('recordsPerPage', recordsPerPage, 30);
    $.ajax({
        url: '/get_records',
        method: 'GET',
        data: { 
            recordsPerPage: recordsPerPage
        },
        success: function(data) {
            $('#home_results_table tbody').empty();

            data.records.forEach(record => {
                let lktDatetime = record.lkt_datetime ? record.lkt_datetime : '';
                $('#home_results_table tbody').append(`
                    <tr comp_snpn="${record.composite_snpn}" record_id="${record.id}" class="${getRowClass(record.test_result)}">
                        <td class="text-nowrap">${record.date_added}</td>
                        <td>${record.serial_number}</td>
                        <td class="text-nowrap">${record.part_number}</td>
                        <td>${record.datecode}</td>
                        <td>${record.country}</td>
                        <td class="raw-failure-column"><span class="cell-content">${record.raw_failure}</span></td>
                        <td class="result-cell" rescell_sn="${record.serial_number}">${record.test_result} <img class="result-icon" src="static/alert-circle.svg" alt="Alert Icon" width="15" height="15"></td>
                        <td>${lktDatetime}</td>
                    </tr>
                `);
            });
            toggleRawFailureColumn($("#show-raw-failures").is(":checked"));
        }
    });
}

function refreshTableData() {
    const recordsPerPage = getCookie('recordsPerPage') || 10;
    updateTable(recordsPerPage);
}

function setMode(mode) {
            const searchBox = document.getElementById('searchMode');
            const addBox = document.getElementById('addMode');
            // const partNumberDropdown = document.getElementById('partNumberDropdown');
            const actionButton = document.getElementById('actionButton');
            const searchLabel = document.querySelector('label[for="searchMode"]');
            const addLabel = document.querySelector('label[for="addMode"]');

            if (mode === 'search') {
                searchLabel.classList.remove('btn-secondary');
                searchLabel.classList.add('active', 'btn-primary');
                
                addLabel.classList.remove('active', 'btn-primary', 'btn-danger');
                addLabel.classList.add('btn-secondary');


                actionButton.textContent = 'Search';
                actionButton.classList.remove('btn-danger');
                actionButton.classList.add('btn-primary');
            } else {
                searchLabel.classList.remove('active', 'btn-primary');
                searchLabel.classList.add('btn-secondary');

                addLabel.classList.remove('btn-secondary');
                addLabel.classList.add('active', 'btn-danger');


                actionButton.textContent = 'Add';
                actionButton.classList.remove('btn-primary');
                actionButton.classList.add('btn-danger');
            }

            // Save the selected mode to a cookie
            setCookie('mode', mode, 1); // Cookie expires in 7 days
        }
    
        // message area handling
    function showHomeAlert(attitude, message) {
        const alertDiv = $('#alert-message');
        if (attitude === 1) {
            alertDiv.removeClass('alert-danger').addClass('alert-success');
        } else {
            alertDiv.removeClass('alert-success').addClass('alert-danger');
        }
        alertDiv.text(message);
        alertDiv.show();

        setTimeout(() => {
            alertDiv.hide();
        }, 5000);
    }
    // Hide the alert when the user performs other actions
    $(document).on('click', function() {
        $('#alert-message').hide();
    }); // End message area handling

    $(document).ready(function() {
        const notification = $('#notification');
        function showNotification(message) {
            notification.text(message);
            notification.fadeIn().addClass('show');
            setTimeout(() => {
                notification.fadeOut().removeClass('show');
            }, 2000); // Notification disappears after 2 seconds
        }

        
        // Function to sort table
        function sortTable(column, order) {
            const rows = $('#home_results_table tbody tr').get();

            rows.sort(function(a, b) {
                const A = $(a).children('td').eq(column).text().toUpperCase();
                const B = $(b).children('td').eq(column).text().toUpperCase();

                if (A < B) {
                    return order === 'asc' ? -1 : 1;
                }
                if (A > B) {
                    return order === 'asc' ? 1 : -1;
                }
                return 0;
            });

            $.each(rows, function(index, row) {
                $('#home_results_table').children('tbody').append(row);
            });
        }

        // Add click event to table headers - For sorting the table too
        $('#home_results_table th').click(function() {
            const column = $(this).index();
            const order = $(this).data('order') === 'asc' ? 'desc' : 'asc';
            $(this).data('order', order);

            sortTable(column, order);
            const sortIcon= '  <img class="sort-icon" src="static/sort-solid.svg" alt="Sort icon" width="15" height="15">';
            $('#home_results_table th .sort-icon').remove();
            $(this).append(sortIcon);

        });
        // Sorting table related functions end

        $('#recordsPerPage').on('change', function() {
            const selectedValue = $(this).val();
            updateTable(selectedValue);
        });

        // Get the recordsPerPage from the cookie
        const recordsPerPage = getCookie('recordsPerPage') || 10; // Default to 10 if no cookie is found
        $('#recordsPerPage').val(recordsPerPage); // Set the dropdown to the stored value
        updateTable(recordsPerPage); // Initial table update

        // Event listener for records per page change
        $('#recordsPerPage').on('change', function() {
            const selectedValue = $(this).val();
            updateTable(selectedValue);
        });

        // Update dropdown based on mode
        function updateDropdown() {
            if (!isSearchMode && $('#partNumberDropdown').val() === 'any') {
                $('#partNumberDropdown').val('100-000000000');
            }
        }

        // Search box functionality
        $('#searchBox').on('blur', function() {
            const input = $(this).val();
            $('#hiddenSBInput').val(input);
            console.log('in blur event with input : '+input)
            if (input.includes('_')) {
                const parts = input.split('_');
                console.log(parts)
                if (parts.length === 2) {
                    
                    deconstructSearchString(input,parts)
                } else {
                    console.error('Not a composed string:', input);
                    $('#hiddenSBInput').val('');
                }
            } 

        }); 

        // Function to deconstruct the search string "100-000000334_9KC4399M10022"
        function deconstructSearchString(input,parts) {

            const serialNumber = parts[0];
            const partNumber = parts[1];
            console.log(serialNumber, partNumber);
            $('#searchBox').val(serialNumber);
            $('#hiddenSBInput').val(input);

            // Check if the part number exists in the dropdown
            const dropdown = $('#partNumberDropdown');
            const optionExists = dropdown.find(`option[value='${partNumber}']`).length > 0;

            if (optionExists) {
                dropdown.val(partNumber);
            } else {
                dropdown.val('any');
            }
            // $('#actionButton').click();
        }

        
           // Trigger button click on Enter key press in the search box
        $('#searchBox').on('keypress', function(event) {
            if (event.which === 13) { // Enter key code is 13
                event.preventDefault();
                $('#actionButton').click();
                // $('#searchBox').blur();
            }
        });

        // Form submit functionality by cllicking on the button
        $('#actionButton').on('click', function(event) {
            console.log('Button clicked');
            event.preventDefault(); // Prevent the default form submission behavior
            
            // Retrieve the values from the input fields
            let searchBoxValue = $('#searchBox').val();
            let partNumberValue = $('#partNumberDropdown').val();
            let compositeSNPN = $('#searchBox').val();

            // Convert to uppercase and check if conversion was needed
            const upperSearchBoxValue = searchBoxValue.toUpperCase();
            if (upperSearchBoxValue !== searchBoxValue) {
                // Update the input box with uppercase value
                $('#searchBox').val(upperSearchBoxValue);
                searchBoxValue = upperSearchBoxValue;
                compositeSNPN = upperSearchBoxValue;
            }

            const toggleMode = getCookie('mode'); 

            if (searchBoxValue.includes('_')) {
                const parts = searchBoxValue.split('_');
                console.log(parts)
                if (parts.length === 2) {
                    deconstructSearchString(compositeSNPN,parts);
                    searchBoxValue = $('#searchBox').val();
                    partNumberValue = $('#partNumberDropdown').val();
                } else {
                    console.error('Not a composite string:', searchBoxValue);
                    $('#hiddenSBInput').val('');
                    compositeSNPN='';
                }
            } 


            if (toggleMode === 'search') {
                console.log('in search mode');
                if (!searchBoxValue) {
                    alert('Please enter a value in the search box.');
                    return;
                }

                $.ajax({
                    url: '/search',
                    method: 'POST',
                    data: {
                        searchBox: searchBoxValue,
                        partNumber: partNumberValue
                    },
                    success: function(response) {
                        // Handle the response
                        console.log('Search Response:', response);
                        // Check if the response is successful and contains the expected fields
                        if (response.results && Array.isArray(response.results)) 
                        {
                            // Clear existing table rows
                            $('#home_results_table tbody').empty();
                            response.results.forEach(result => 
                            {
                                if (result.serial_number && result.part_number) 
                                {
                                    // Append new rows to the table
                                    var row = '<tr comp_snpn="' + result.composite_snpn + '" record_id="' + result.id + '" class="' + getRowClass(result.test_result) + '">' +
                                        '<td class="text-nowrap">' + result.date_added + '</td>' +
                                        '<td>' + result.serial_number + '</td>' +
                                        '<td class="text-nowrap">' + result.part_number + '</td>' +
                                        '<td>' + result.datecode + '</td>' +
                                        '<td>' + result.country + '</td>' +
                                        '<td class="raw-failure-column"><span class="cell-content">' + result.raw_failure + '</span></td>' +
                                        '<td class="result-cell" rescell_sn="'+result.serial_number+'">' + result.test_result + ' <img class="result-icon" src="static/alert-circle.svg" alt="Alert Icon" width="15" height="15"></td>' +
                                        '<td>' + result.lkt_datetime + '</td>' +
                                        '</tr>';
                                    $('#home_results_table tbody').append(row);
                                } else 
                                {
                                    console.error('Missing expected fields in result:', result);
                                }
                            });

                            // After results are displayed, focus and select the search box text
                            const searchBox = $('#searchBox');
                            searchBox.focus();
                            searchBox.select();
                            
                        } else {
                            console.error('Invalid response:', response);
                        }
                    }    
                });
                
            } else if (toggleMode === 'add') {
                console.log('in add mode');
                if (!searchBoxValue) {
                    alert('Please enter a value in the search box.');
                    return;
                }

                $.ajax({
                    url: '/add',
                    method: 'POST',
                    data: {
                        searchBox: searchBoxValue,
                        partNumber: partNumberValue,
                        compositeSNPN: compositeSNPN
                    },
                    success: function(response) {
                        // Handle the response
                        console.log('Add Response:', response);
                        // Check if the response is successful
                        if (response.success) {
                            const recordsPerPage = getCookie('recordsPerPage') || 10; // Default to 10 if no cookie is found
                            $('#recordsPerPage').val(recordsPerPage); // Set the dropdown to the stored value
                            updateTable(recordsPerPage); // Initial table update

                            showHomeAlert(1,response.message);
                            $('#searchBox').val('');
                            $('#partNumberDropdown').val('Any');
                            $('#searchBox').focus();
                        } else {
                            showHomeAlert(0,response.message);
                            console.error('Add operation failed:', response.message );
                            $('#searchBox').focus();
                        }
                    }
                });
            }
    });

        // Initial setup
        // updateActionButton();
        const savedMode = getCookie('mode');
        if (savedMode) {
            setMode(savedMode);
            const modeRadio = document.getElementById(savedMode + 'Mode');
            if (modeRadio) {
                modeRadio.checked = true;
            }
        } else {
            setMode('search');
        }
    
       // RECORD EDIT MODAL STARTS
        // Fetch datecode suggestions
        function fetchDatecodeSuggestions(query) {
            return $.ajax({
                url: '/get_datecode_suggestions',
                method: 'GET',
                data: { query: query }
            });
        }
    
        //Handle double-click on table rows to show Edit Modal
        $('#home_results_table tbody').on('dblclick', 'tr', function() {
            const recordId = $(this).attr('record_id');
            const composite_snpn = $(this).attr('comp_snpn');
            const row = $(this).children('td');
           
            $('#hidden_record_id').val(recordId);
            $('#comp_snpn').val(composite_snpn);
            $('#serialNumber').val(row.eq(1).text());
            $('#partNumber').val(row.eq(2).text());
            $('#datecode').val(row.eq(3).text());
            $('#country').val(row.eq(4).text());
            // $('#testResult').val(row.eq(6).text());
                // Get only the text from the test result cell
            const testResultText = row.eq(6).contents().filter(function() {
                return this.nodeType === Node.TEXT_NODE;
            }).text();
            console.log('testResultText:'+testResultText);
            
            $('#rawFailure').val(row.eq(5).text());
            $('#editModal').modal('show');
            $('#testResult').val(testResultText.trim()).change();
        });

    
        // Handle click on table cells
    $('#home_results_table tbody').on('click', 'td', function() {
        // Get the index of the clicked cell
        let cellIndex = $(this).index();
        // Get the header text to identify the column
        let headerText = $('#home_results_table thead th').eq(cellIndex).text().trim().toLowerCase();
        console.log("working with headerText:"+headerText);
            // Check if the clicked cell is in one of the specified columns
            if (headerText === 'serial number' || headerText === 'datecode' || headerText === 'raw failure') {
            let cellContent = $(this).text().trim();

            if (cellContent) {
                var tempInput = $('<input>');
                $('body').append(tempInput);
                tempInput.val(cellContent).select();
                document.execCommand('copy');
                tempInput.remove();
                console.log(`Copied content: ${cellContent}`);
                showNotification(`Copied : ${cellContent}`);
            } else {
                console.log('No content found in the cell.');
                // showNotification('Error copying content');
            }
        } else if (headerText === 'part number') {
            // Get the comp_snpn attribute of the row
            let comp_snpn = $(this).closest('tr').attr('comp_snpn');
            
            if (comp_snpn) {
                var tempInput = $('<input>');
                $('body').append(tempInput);
                tempInput.val(comp_snpn).select();
                document.execCommand('copy');
                tempInput.remove();
                console.log(`Copied comp_snpn: ${comp_snpn}`);
                showNotification(`Copied : ${comp_snpn}`);
            } else {
                console.log('No comp_snpn attribute found.');
            }
        }


    });

        // Enable the "Save Changes" button when form fields are changed
        $('#editForm input, #editForm select, #editForm textarea').on('input change', function() {
            $('#saveChangesButton').prop('disabled', false);
        });

        // Handle datecode input for suggestions
        let isSelectionMade = false;
        let inputTimeout;

        $('#datecode').on('input', function() {
            console.log('Input event triggered, isSelectionMade:', isSelectionMade);
            if (!isSelectionMade) {
                const query = $(this).val();
                console.log('Fetching suggestions for query:', query);
                
                // Clear any existing timeout
                if (inputTimeout) {
                    clearTimeout(inputTimeout);
                }
                
                // Set a new timeout to fetch suggestions
                inputTimeout = setTimeout(() => {
                    fetchDatecodeSuggestions(query).done(function(data) {
                        const suggestions = $('#datecodeSuggestions');
                        suggestions.empty();
                        data.forEach(datecode => {
                            suggestions.append(new Option(datecode, datecode));
                        });
                    });
                }, 300); // 300ms delay
            } else {
                console.log('Skipping suggestions fetch because isSelectionMade is true');
            }
        });

        // Clear suggestions when a selection is made
        $('#datecode').on('change', function() {
            console.log('Change event triggered, setting isSelectionMade to true');
            isSelectionMade = true;
            const suggestions = $('#datecodeSuggestions');
            suggestions.empty();
            
            // Clear any pending timeout
            if (inputTimeout) {
                clearTimeout(inputTimeout);
                inputTimeout = null;
            }
        });

        // Reset the flag when the user starts typing again
        $('#datecode').on('keydown', function(e) {
            // Only reset if it's not an arrow key or enter
            if (![37, 38, 39, 40, 13].includes(e.keyCode)) {
                console.log('Keydown event triggered, setting isSelectionMade to false');
                isSelectionMade = false;
            }
        });
    
        // Handle save changes button click
        $('#saveChangesButton').on('click', function() {
            const formData = {
                record_id: $('#hidden_record_id').val(),
                comp_snpn: $('#comp_snpn').val(),
                serial_number: $('#serialNumber').val(),
                part_number: $('#partNumber').val(),
                datecode: $('#datecode').val(),
                country: $('#country').val(),
                raw_failure: $('#rawFailure').val(),
                test_result: $('#testResult').val()
            };
    
            // Show spinner
            $(this).prop('disabled', true).text('Saving...');
    
            $.ajax({
                url: '/update_record',
                method: 'POST',
                data: formData,
                success: function(response) {
                    // Hide spinner
                    $('#saveChangesButton').prop('disabled', false).text('Save changes');
                    
                    if (response.success) {
                        showAlert('Changes saved successfully.', 'success');
                        refreshTableData();
                    } else {
                        showAlert('Failed to save changes: ' + response.error, 'danger');
                    }
                },
                error: function() {
                    // Hide spinner
                    $('#saveChangesButton').prop('disabled', false).text('Save changes');
                    showAlert('An error occurred while saving changes.', 'danger');
                }
            });
        });

            // Function to show alert message
            function showAlert(message, type) {
                $('#editAlertMessage').text(message);
                $('#editAlert').removeClass('alert-success alert-danger').addClass('alert-' + type).show();
                setTimeout(function() {
                    $('#editAlert').fadeOut();
                }, 3000);
            }
        // RECORD EDIT MODAL ENDS
   

            // Function to determine row class based on test result
            function getRowClass(testResult) {
                switch (testResult.toLowerCase()) {
                    case 'unknown':
                        return 'table-light';
                    case 'nff':
                        return 'table-success';
                    case 'vf':
                        return 'table-danger';
                    case 'vm/pps':
                        return 'table-warning';
                    case 'testing':
                        return 'table-info';
                    case 'inelegible':
                        return 'table-dark';
                    default:
                        return 'table-secondary';
                }
            }
    
    
        
        $('#deleteRecordButton').on('click', function() {
        if (confirm('Are you sure you want to delete this record? This action is irreversible.')) {
            var recordId = $('#hidden_record_id').val();
            
            $.ajax({
                url: '/delete_record',
                type: 'POST',
                data: { id: recordId },
                success: function(response) {
                    if (response.success) {
                        // Clear the modal body
                        $('#editForm').hide();
                        showAlert('The record was successfully deleted.', 'success');
                        $('#editAlert').show();
                        
                        // Remove the delete and save buttons
                        $('#deleteRecordButton').remove();
                        $('#saveChangesButton').remove();
                    } else {
                        alert('Failed to delete the record. Please try again.');
                    }
                },
                error: function() {
                    alert('An error occurred while deleting the record. Please try again.');
                }
            });
        }
    });

    // RawFailures column handling
    // Read the cookie on page load
    // let showRawFailures = getCookie("show_raw_failures") === "true";
    // $("#show-raw-failures").prop("checked", showRawFailures);
    // toggleRawFailureColumn(showRawFailures);

    // Event listener for checkbox change
    $("#show-raw-failures").change(function() {
        let isChecked = $(this).is(":checked");
        // setCookie("show_raw_failures", isChecked, 30); // Save for 30 days
        toggleRawFailureColumn(isChecked);
    });

    // RawFailures column handling ends

    // Handle click on the result icon
    $('#home_results_table').on('click', '.result-icon', function() {
        var rescellSn = $(this).closest('td').attr('rescell_sn');

        $.ajax({
                url: '/get_logs_records',
                method: 'GET',
                data: {
                    records_per_page: '10',
                    serial: rescellSn
                },
                success: function(response) {
                    hostFileModalTableBody.innerHTML='';
                    if (Array.isArray(response.records)) {
                    // Assuming response.records is an array of record objects
                    response.records.forEach(function(record) {
                        const encodedHostStatus = encodeURIComponent(JSON.stringify(record.host_status));
                        const row = `<tr record_id="${record.id}" data-host-status="${encodedHostStatus}" data-file-name="${record.file_name}">
                            <td>${record.id}</td>
                            <td>${record.file_name}</td>   
                        </tr>`;
                        document.getElementById('hostFileModalTableBody').insertAdjacentHTML('beforeend', row);
                    });
                    
                    // Add click event listener to each row
                        const rows = hostFileModalTableBody.querySelectorAll('tr');
                        rows.forEach(function(row) {
                            row.addEventListener('click', function() {
                                const fileName = row.getAttribute('data-file-name');
                                const encodedHostStatus = row.getAttribute('data-host-status');
                                const hostStatus = JSON.parse(decodeURIComponent(encodedHostStatus));
       
                                showHostStatusModal(fileName, hostStatus);
                            });
                        });

                    
                        $('#hostFileModal').modal('show');
                    } else {
                        console.error('Expected an array but got:', response.records);
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX error:', status, error);
                }
            });
    
  
    });

    function showHostStatusModal(fileName, hostStatus) {
        document.getElementById('hostStatusModalLabel').innerText = fileName;
        document.getElementById('hostStatusContent').value = hostStatus;
        
        $('#hostStatusModal').modal('show');
        const hostStatusContent = document.getElementById('hostStatusContent');
        hostStatusContent.scrollTop = hostStatusContent.scrollHeight;
 
    }

    
});  
// Document ready ends
   
 
    /// Taking care of the add new part number option
    function handlePartNumberChange() {
    // Get the selected value from the dropdown
        const selectedPartNumber = document.getElementById('partNumberDropdown').value;

        // Check if the selected value is "add_part_number"
        if (selectedPartNumber === 'add_part_number') {
            // Open the modal
            $('#addPartModal').modal('show');
        } else {
            // Handle other selected part numbers (if needed)
            console.log('Selected part number:', selectedPartNumber);
        }
    }
    
    // Handle the Add button click in the modal
    document.getElementById('addPartButton').addEventListener('click', function() {
        var newPartNumber = document.getElementById('newPartNumber').value;

        if (newPartNumber) {
            // Make AJAX call to add the new part number
            fetch('/addpart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ part_number: newPartNumber })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Update the dropdown with the new list of parts
                    var dropdown = document.getElementById('partNumberDropdown');
                    dropdown.innerHTML = '<option value="any">Any</option>';

                    data.parts.forEach(function(part) {
                        var option = document.createElement('option');
                        option.value = part.part_number;
                        option.textContent = part.part_number;
                        dropdown.appendChild(option);
                    });

                    // Add the separator and "Add new part number" option
                    var separator = document.createElement('option');
                    separator.disabled = true;
                    separator.textContent = '──────────';
                    dropdown.appendChild(separator);

                    var addOption = document.createElement('option');
                    addOption.id = 'id_add_part_number';
                    addOption.value = 'add_part_number';
                    addOption.textContent = 'Add new part number';
                    dropdown.appendChild(addOption);

                    // Close the modal
                    $('#addPartModal').modal('hide');
                } else {
                    alert('Failed to add part number: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while adding the part number.');
            });
        } else {
            alert('Please enter a part number.');
        }
    });

    

</script>
