<div id="logs-section" class="container mt-5">
    <h3 class="text-center">LOG files processing</h3>
    <div id="controls" class="d-flex justify-content-center mb-3">
        <div class="d-flex flex-grow-1 justify-content-center align-items-center">
            <button id="start-btn" class="btn btn-primary mr-2">Start Process</button>
            
            <button id="stop-btn" class="btn btn-danger mr-2" disabled>Stop Process</button>
            <select id="mode-select" class="form-control w-auto mr-2">
                <option value="new-files">New files only</option>
                <option value="all-files">All files</option>
            </select>
            <button id="truncate-btn" class="btn btn-warning mr-2">Truncate Logs table</button>            
        </div>

    
        <div class="ml-3 align-self-center">
            <h6 class="font-weight-bold">Notes:</h6>
            <small>
                <ul class="list-unstyled">
                    <li>The original log files are untouched.</li>
                    <li>They're copied to a temp folder, decompressed and then deleted.</li>
                    <li>Serial number, date and time are extracted from the file name.</li>
                    <li>Files consumed into the db are Host_status.txt and a csv file.</li>
                </ul>
            </small>
        </div>
    </div>
    <!-- <div id="spinner" class="spinner-border text-primary hidden" role="status">
        <span class="sr-only">Loading...</span>
    </div> -->
    <div id="output" class="mt-3"></div>

    <div class="table-responsive">
        <p class="lead">
            Last 10 logs records processed:
          </p>
        <table id="logs-table" class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>File</th>
                    <!-- <th>Serial #</th> -->
                    <!-- <th>Host Status</th> -->
                    <!-- <th>CSV File</th> -->
                    <!-- <th>CSV File Contents</th> -->
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>


</div>
<!-- <script src="/static/logs.js"></script> -->
<script>
    $(document).ready(function() {
        const startBtn = $('#start-btn');
        const stopBtn = $('#stop-btn');
        const truncateBtn = $('#truncate-btn');
        const modeSelect = $('#mode-select');
        const spinner = $('#spinner');
        const output = $('#output');
        const logsTableBody = $('#logs-table tbody');
    
        truncateBtn.click(function() {
            if (confirm('Are you sure you want to truncate the logs table?')) {
                $.ajax({
                    url: '/truncate-logs',
                    type: 'POST',
                    success: function(response) {
                        $('#logs-table tbody').empty();
                        $('#output').html('<div class="alert alert-success">' + response.message + '</div>');
                    },
                    error: function(xhr, status, error) {
                        $('#output').html('<div class="alert alert-danger">Error: ' + xhr.responseJSON.error + '</div>');
                    }
                });
            }
        });
        
        startBtn.click(function() {
            const mode = modeSelect.val();
            spinner.removeClass('hidden');
            output.html('');
    
            $.ajax({
                url: '/stream_process_logs',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ mode: mode }),
                xhrFields: {
                    onprogress: function(e) {
                        const newContent = e.currentTarget.responseText;
                        output.html(newContent);
                        output.scrollTop(output[0].scrollHeight); // Auto-scroll to the bottom
                    }
                },
                success: function(data) {
                    spinner.addClass('hidden');
                    output.html(data.message);
                },
                error: function(xhr, status, error) {
                    spinner.addClass('hidden');
                    output.html('An error occurred: ' + error);
                }
            });
        });
    
        stopBtn.click(function() {
            $.ajax({
                url: '/stop_process',
                method: 'POST',
                success: function(data) {
                    output.html(data.message);
                },
                error: function(xhr, status, error) {
                    output.html('Error: ' + error);
                }
            });
        });
    
        // Fetch logs records and populate the table
        function fetchLogsRecords() {
            $.ajax({
                url: '/get_logs_records',
                method: 'GET',
                data: {
                    records_per_page: '10'
                },
                success: function(response) {
                    logsTableBody.empty();
                    if (Array.isArray(response.records)) {
                        response.records.forEach(function(record) {
                            const row = `<tr record_id="${record.id}">
                                <td>${record.id}</td>
                                <td>${record.file_name}</td>   
                                
                            </tr>`;
                            logsTableBody.append(row);
                        });
                    } else {
                        console.error('Expected an array but got:', response.records);
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX error:', status, error);
                }
            });
        }
    
        // Fetch logs records on page load
        fetchLogsRecords();
    });
    </script>

<!-- 
<td>${record.id}</td>
<td>${record.file_name}</td>
// <td>${record.serial_number}</td>
// <td class="host-status"><pre>${record.host_status}</pre></td>
<td>${record.csv_file_name}</td>
// <td class="host-status"><pre>${record.csv_file_content}</pre></td> -->