<div class="container mt-4">
    <!-- Top bar for Advanced Search -->
    <div class="card mb-4">
        <div class="card-header">
            Advanced Search
        </div>
        <div class="card-body bg-light">
            <form id="advancedSearchForm">
                <div class="form-row">
                    <!-- Date or date range selection control -->
                    <!-- <div class="col-md-3 mb-3">
                        <label for="dateRange">Date Range</label>
                        <input type="text" class="form-control" id="dateRange" name="dateRange" placeholder="Select date" data-date-format="yyyy-mm-dd">
                    </div> -->

                 <!-- Date range selection  -->
                 <div class="col-md-3 mb-3">
                    <label for="startDate">Start Date</label>
                    <input type="text" class="form-control" id="startDate" name="startDate" placeholder="Select start date" data-date-format="yyyy-mm-dd">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="endDate">End Date</label>
                    <input type="text" class="form-control" id="endDate" name="endDate" placeholder="Select end date" data-date-format="yyyy-mm-dd">
                </div>
                    

                    <!-- Part number dropdown -->
                    <div class="col-md-3 mb-3">
                        <label for="adv_partNumber">Part Number</label>
                        <select class="form-control" id="adv_partNumber" name="adv_partNumber">
                            <option value="any">Any</option>
                            {% if parts %}
                            {% for part in parts %}
                            <option value="{{ part.part_number }}">{{ part.part_number }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <!-- Result dropdown -->
                    <div class="col-md-3 mb-3">
                        <label for="adv_result">Result</label>
                        <select class="form-control" id="adv_result" name="adv_result">
                            <option value="any">Any</option>
                            <option value="NFF">Pass (NFF)</option>
                            <option value="VF">Fail (VF)</option>
                            <option value="VM/PPS">Scrap (VM/PPS)</option>
                            <option value="TESTING">Test in progress</option>
                            <option value="Unknown">Unknown</option>
                        </select>
                    </div>
                    <!-- Date code input -->
                    <div class="col-md-3 mb-3">
                        <label for="adv_dateCode">Date Code</label>
                        <input type="text" class="form-control" id="adv_datecode" list="adv_datecodeSuggestions">
                        <datalist id="adv_datecodeSuggestions">
                            <!-- Suggestions will be populated dynamically -->
                        </datalist>
                    </div>
                    <!-- Raw Failure contains input -->
                    <div class="col-md-3 mb-3">
                        <label for="adv_rawFailure">Raw Failure Contains</label>
                        <input type="text" class="form-control" id="adv_rawFailure" name="rawFailure" placeholder="Enter Raw Failure">
                    </div>
                </div>
                <button type="button" class="btn btn-secondary mr-2" onclick="document.getElementById('advancedSearchForm').reset();$('#buttonOptions').hide();">Reset form</button>
                <button type="submit" class="btn btn-primary float-right" id="reportSubmit">Submit</button>
            </form>
        </div>
    </div>

    <div id="reports-alert-message" class="alert alert-danger" role="alert" style="display: none;">
        <!-- Messages area  -->
    </div>

    <!-- Button options section -->
    <div id="buttonOptions" class="mb-4" style="display: none;">
        <button class="btn btn-primary" id="foxconnReportBtn">Foxconn Report</button>
        <button class="btn btn-info" disabled>Export as CSV</button>

    </div>

    <!-- Search results section -->
    <div id="searchResults">
        <table class="table table-bordered d-none" id="adv-search-results">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date added</th>
                    <th>Serial</th>
                    <th>Part #</th>
                    <th>Datecode</th>
                    <th>Country</th>
                    <th>Raw Failure</th>
                    <th>Result</th>
                    <!-- Add more columns as needed -->
                </tr>
            </thead>
            <tbody>
                <!-- Populate with search results dynamically -->
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function() {
        // Initialize the datepicker
        // $('#dateRange').datepicker({
        //     format: 'yyyy-mm-dd',
        //     todayHighlight: true,
        //     autoclose: true,
        //     clearBtn: true
        // });

        $(function() {
            $('#startDate').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            }).on('changeDate', function(e) {
                // Set the end datepicker's start date to the selected start date
                $('#endDate').datepicker('setStartDate', e.date);
                // // Optionally, set the end datepicker's date to the selected start date
                $('#endDate').datepicker('update', e.date);
            });
            $('#endDate').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        });

        $('#advancedSearchForm').on('submit', function(event) {
            event.preventDefault();

            let startDateValue = $('#startDate').val();
            let endDateValue = $('#endDate').val();

            let partNumberValue = $('#adv_partNumber').val();
            let resultValue = $('#adv_result').val();
            let dateCodeValue = $('#adv_datecode').val();
            let rawFailureValue = $('#adv_rawFailure').val();

            $.ajax({
                url: '/advanced_search',
                method: 'POST',
                data: {
                    start_date: startDateValue,
                    end_date: endDateValue,                    
                    part_number: partNumberValue,
                    test_result: resultValue,
                    datecode: dateCodeValue,
                    raw_failure: rawFailureValue
                },
                success: function(response) {
                    // Handle the response
                    console.log('Search Response:', response);
                    console.log("Is results array : " + Array.isArray(response.results));
                    
                    // Check if the response is successful and contains the expected fields
                    if (response.results && Array.isArray(response.results)) {
                        // Clear existing table rows
                        $('#adv-search-results tbody').empty();
                        var rowcount=0;
                        response.results.forEach(result => {
                            if (result.serial_number && result.part_number) {
                                // Append new rows to the table
                                var row = '<tr comp_snpn="' + result.composite_snpn + '" record_id="' + result.id + '" class="' + getRowClass(result.test_result) + '">' +
                                    '<td>' + rowcount++ + '</td>' +
                                    '<td class="text-nowrap">' + result.date_added + '</td>' +
                                    '<td>' + result.serial_number + '</td>' +
                                    '<td class="text-nowrap">' + result.part_number + '</td>' +
                                    '<td>' + result.datecode + '</td>' +
                                    '<td>' + result.country + '</td>' +
                                    '<td>' + result.raw_failure + '</td>' +
                                    '<td>' + result.test_result + '</td>' +
                                    '</tr>';
                                $('#adv-search-results tbody').append(row);
                                $('#adv-search-results').removeClass('d-none');

                                $('#buttonOptions').show();

                            } else {
                                console.error('Missing expected fields in result:', result);
                            }
                        });
                    } else {
                        console.error('Invalid response:', response);
                    }
                }
            });
        });

        

        // Fetch datecode suggestions
        function adv_fetchDatecodeSuggestions(query) {
            return $.ajax({
                url: '/get_datecode_suggestions',
                method: 'GET',
                data: { query: query }
            });
        }

        // Handle datecode input for suggestions
        $('#adv_datecode').on('input', function() {
            const query = $(this).val();
            adv_fetchDatecodeSuggestions(query).done(function(data) {
                const suggestions = $('#adv_datecodeSuggestions');
                suggestions.empty();
                data.forEach(datecode => {
                    suggestions.append(new Option(datecode, datecode));
                });
            });
        });
    });

    // Function to determine row class based on test result
    function getRowClass(testResult) {
        switch (testResult.toLowerCase()) {
            case 'unknown':
                return 'table-light';
            case 'nff':
                return 'table-success';
            case 'vf':
                return 'table-danger';
            case 'vm/pps':
                return 'table-warning';
            case 'testing':
                return 'table-info';
            default:
                return 'table-secondary';
        }
    }
</script>

<script>
    $(document).ready(function() {
        $('#foxconnReportBtn').click(function() {
            // Hide the "Raw Failure" column
            $('#adv-search-results th:nth-child(7), #adv-search-results td:nth-child(7)').hide();

            // Change "Date added" to "Date received"
            $('#adv-search-results th:nth-child(2)').text('Date received');

            // Remove Bootstrap row classes
            $('#adv-search-results tbody tr').removeClass('table-success table-danger table-warning table-info table-primary table-secondary table-light table-dark');

            // Iterate through the "Result" column and update values
            $('#adv-search-results tbody tr').each(function() {
                var resultCell = $(this).find('td:nth-child(8)');
                var resultValue = resultCell.text().trim();

                if (resultValue === 'VM/PPS') {
                    resultCell.text('Scrap / Power Plain Short');
                } else if (resultValue === 'NFF' || resultValue === 'VF') {
                    resultCell.text('Return to AMD');
                } else {
                    resultCell.text('Not tested yet');
                }
            });

            // Add the table-sm class to the table
            $('#adv-search-results').addClass('table-sm');

            // Copy the table with styling to the clipboard
            var table = document.getElementById('adv-search-results');
            var range = document.createRange();
            range.selectNode(table);
            var selection = window.getSelection();
            selection.removeAllRanges();
            selection.addRange(range);

            try {
                document.execCommand('copy');
                showAlert('Table copied to clipboard successfully!', 'alert-success');
            } catch (err) {
                showAlert('Failed to copy table to clipboard.', 'alert-danger');
            }

            // Clear the selection
            selection.removeAllRanges();
        
        
        
        
        });

        function showAlert(message, alertClass) {
            var alertDiv = $('#reports-alert-message');
            alertDiv.removeClass('alert-success alert-danger').addClass(alertClass).text(message).show();
            setTimeout(function() {
                alertDiv.hide();
            }, 5000);
        }
    });
</script>